<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="NI.ruleset" Description="Code analysis rules for NI projects." ToolsVersion="14.0">
  <Include Path="MinimumRecommendedRules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1200" Action="None" /> <!-- CA1200: Avoid using cref tags with a prefix -->
    <Rule Id="CA1507" Action="None" /> <!-- CA1507: Use nameof in place of string literal -->
    <Rule Id="CA1714" Action="None" /> <!-- CA1714: Flags enums should have plural names -->
    <Rule Id="CA1717" Action="None" /> <!-- CA1717: Only FlagsAttribute enums should have plural names -->
  </Rules>
  <!-- we have to define the ni rules if we want any to not be errors -->
  <Rules AnalyzerId="NI.CodeAnalysis.Analyzers" RuleNamespace="NI.CodeAnalysis.Analyzers">
    <Rule Id="CA1061" Action="Error" />
    <Rule Id="CA1804" Action="Error" />
    <Rule Id="CA2218" Action="Error" />
    <Rule Id="LRN001" Action="Error" />
    <Rule Id="LRT001" Action="Error" />
    <Rule Id="NI1004" Action="None" />
    <Rule Id="NI1005" Action="Error" />
    <Rule Id="NI1006" Action="Error" />
    <Rule Id="NI1007" Action="Error" />
  </Rules>
</RuleSet>